name: check
on:
  push:
  pull_request:
  schedule:
  - cron: 45 4 * * 0
jobs:
  check:
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        ruby:
        - '2.0'
        - '2.1'
        - '2.2'
        - '2.3'
        - '2.4'
        - '2.5'
        - '2.6'
        - '2.7'
        - '3.0'
        - jruby-9.2
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ matrix.ruby }}"
        bundler-cache: true
    - run: make test
    - run: bundle exec image_optim --info
    - run: bundle exec rspec
